@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100");

body {
    margin: 0;
}
.hide{
    opacity: 0;
}
.hidden {
    display: none;
}
.Home {
    height: 100%;
}
.Header {
    position: fixed;
    width: 95vw;
    z-index: 1;
}
.Main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../image/home.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.Main > h1 {
    font-size: 4vw;
    font-family: sans-serif;
    font-weight: 700;
    border-right: .1em solid #fff;
    white-space: pre;
    animation: blink 1s step-end infinite;
}
.nav-sm {
    display: none;
}
.nav-lg {
    display: block;
    width: 90vw;
    height: 7vh;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}
.nav-lg ul {
    display: inline-block;
    padding: 0;
    margin: 0;
}
.nav-lg ul li { /* topMenu의 ID를 가진 태그 안에 <ul> 태그 안에 <li> 태그의 스타일을 지정 */
    list-style: none; /* <li> 태그는 위의 이미지처럼 목록을 나타내는 점을 없앤다 */
    color: white; /* 글씨 색을 흰색으로 설정 */
    background-color: rgba(45, 45, 45, 0.7);
    float: left; /* <li>태그들이 왼쪽에 흐르게 설정(그러면 아래있는 내용은 오른쪽으로 옴) */
    line-height: 5vh; /* 글씨가 가운데로 오도록 설정하기 위해 한줄의 높이를 30px로 설정 */
    vertical-align: middle; /* 세로 정렬을 가운데로 설정(위의 line-height와 같이 설정 필요함) */
    text-align: center; /* 글씨 정렬을 가운데로 설정 */
}
.nav-lg ul li:first-child,
.nav-lg ul li:first-child > a
{
    border-radius: 0% 0% 0% 15%/50%;
}
.nav-lg ul li:last-child,
.nav-lg ul li:last-child > a{
    border-radius: 0% 0% 15%/50% 0%;
}
.nav-lg .menu-link { /* menu-link 클래스 태그들의 스타일 설정 */
    text-decoration: none; /* 링크(<a> 태그)가 가지는 기본 꾸밈 효과(밑줄 등)을 없앰 */
    color: lightgrey; /* 폰트색을 흰색으로 설정 */
    display: block; /* 링크를 글씨가 있는 부분 뿐만아니라 전체 영역을 클릭해도 링크가 걸리게 설정 */
    width: 10vw; /* 메뉴링크의 넓이 설정 */
    font-size: 2.5vh; /* 폰트 사이즈 12px로 설정 */
    font-weight: bold; /* 폰트를 굵게 */
}
.nav-lg .menu-link:hover,
.nav-lg .active,
.nav-sm .active{
    background: #1ABC9C;
}
.desc > h1 {
    margin: 1vh 1vw;
    font-size: 2em;
    font-weight: 900;
    text-align: right;
    font-family: sans-serif;
}
.title {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    font-family: sans-serif;
    width: fit-content;
    margin: 5vh auto;
}
.title::after{
    content: "";
    display: block;
    width: auto;
    border-bottom: 2px solid deepskyblue;
}
.title > p {
    font-family: sans-serif;
    font-size: 2.5em;
    font-weight : bold;
    width: fit-content;
    margin: 0 auto;
}
.About {
    display: flex;
    height: 100%;
}
.About .desc {
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 4rem;
    margin-top: 4rem;
    box-sizing: border-box;
    padding: 1rem;
    width: 100%;
}
.About .desc-right p {
    margin: 1vh 1vw;
    line-height: 1.5em;
    text-align: right;
    font-size: 1em;
    font-weight: bold;
}
.About .desc b {
    font-family: cursive;
}
.About > div {
    opacity: 0;
}
.About .title {
    align-self: center;
    margin: 0 15vw 0 7vw;
}
.Skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    background: #2d2d2d;
    text-align: center;
    padding-bottom: 5vh;
}
.Skills .title {
    color: white;
}
.Skills > .desc,
.Project > .desc {
    width: 90%;
    align-items: center;
}
.Skills .item {
    text-align: center;
    display: inline-block;
    width:114px;
    height:116px;
    border-radius: 30px 30px;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 3px 6px rgba(0,0,0,.2), 0 3px 6px rgba(0,0,0,.2);
}
.Skills .panel {
    margin-bottom: 5vh;
}
.Skills .panel-group > .panel {
    width: 30%;
}
.Skills .panel-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.Skills .panel > .panel-heading {
    padding: 1vh;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 5px 5px 0 0;
}
.Skills .panel > .panel-heading > p {
    margin: 0;
    font-family: sans-serif;
    font-size: 1.2vw;
    font-weight: bold;
    color: white;
}
.Skills .panel > .panel-body{
    padding: 2vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0 3px 6px rgba(0,0,0,.5);
    border-radius: 0 0 5px 5px;
    background-color: white;
}
.Skills .label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #2d2d2d;
    opacity: 0.8;
    visibility: hidden;
    width: inherit;
    height: inherit;
    position: absolute;
    border-radius: 30px;
}
.Skills .item:hover .label {
    visibility: visible;
    animation: fadeout 0.5s;
}
.Skills .item p {
    font-size: 1.5em;
    color: white;
    margin: 0;
}
.Project {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    padding-bottom: 5vh;
}
.Project .box {
    display: flex;
    flex-direction: row;
    box-shadow: 0 3px 6px 2px rgba(0,0,0,.5);
    padding: 10px;
    margin-bottom: 3vh;
}
.Project .image {
    height: 290px;
    width: 30%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.Project .content {
    margin: 2vh 2vw 2vh 2vw;
    width: 70%;
}
.Project .content h1 {
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: bottom;
}
.Project .content h3,
.Project .content h4{
    font-weight: 400;
}
.Project .content p {
    margin-bottom: 0;
}
a.del:link,
a.del:visited,
a.del:active,
a.del:hover {
    cursor: not-allowed;
    text-decoration: line-through;
    color: black;
}
.Contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    background: #2d2d2d;
    padding-bottom: 10vh;
}
.Contact .title {
    color: white;
}
.Contact .desc {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 10vh);
    justify-items: center;
    align-items: center;
}
.Contact .desc span,
.Contact .desc a {
    font-size: 2em;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Noto Sans KR', sans-serif;
}
.Contact .desc input {
    width: 40px;
    height: 40px;
    margin-top: 7px;
}
.Contact .desc input#clipboard {
    border-radius: 5px;
    background: white url(../image/clipboard.png) center no-repeat;
    background-size: contain;
    cursor: grab;
}
.Contact .desc input#github {
    border-radius: 50%;
    background: white url(../image/icon-git.png) center no-repeat;
    background-size: contain;
    cursor: pointer;
}
.Contact .desc input#blog {
    border-radius: 5px;
    background: white url(../image/tistory.png) center no-repeat;
    background-size: contain;
    cursor: pointer;
}
.Contact .desc > p {
    font-size: 2em;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    margin: 0;
}
.Contact .desc input:active {
    cursor: grabbing;
}
.Contact .end p{
    font-size: 6em;
    font-family: "Noto Sans KR", sans-serif;
    color: white;
    font-weight: 900;
}
@media (max-width: 1039px) {
    .Main > h1 {
        font-size: 5vw;
    }
    .nav-lg {
        display: none;
    }
    .Header {
        display: flex;
        flex-direction: row-reverse;
    }
    .nav-sm {
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin-top: 1.5vh;
    }
    .nav-sm li{
        list-style: none;
        color: white;
        line-height: 7vh;
        vertical-align: middle;
    }
    .nav-sm > a{
        line-height: 5vh;
    }
    .nav-sm img{
        height: 5vh;
        vertical-align: middle;
        opacity: 0.7;
    }
    .nav-sm .menu-link {
        text-decoration: none;
        font-size: 3vh;
        font-weight: bold;
        color: lightgrey;
        opacity: 0.7%;
    }
    .title > p {
        font-family: monospace serif;
        font-size: 4em;
        font-weight : bold;
        margin: 0 auto;
    }
    .Skills .panel > .panel-heading > p {
        font-size: 2.5em;
    }
    .nav-sm .menu-link:hover {
        color: rgb(135, 206, 250);
    }
    .About {
        flex-direction: column-reverse;
    }
    .About .title {
        width: fit-content;
        margin: 5vh auto;
    }
    .About .title > p {
        font-family: monospace serif;
        font-size: 7vw;
        font-weight : bold;
        margin: 0 auto;
    }
    .About .desc {
        margin-top: 0;
    }
    .About .desc > h1 {
        text-align: center;
        font-size: 5vw;
    }
    .About .desc-right p {
        line-height: 1.5em;
        text-align: center;
        font-size: 3vw;
    }
    .Skills {
        height: fit-content;
    }
    .Skills .panel-group {
        display: flex;
        flex-direction: column;
    }
    .Skills .panel-group .panel {
        width: 100%;
    }
    .Skills .item {
        margin: 1vh auto;
    }

    #toggle {
        display: flex;
        align-self: flex-end;
        width: 70px;
        margin: 2vh 0;
    }
    #toggle span:after,
    #toggle span:before {
        content: "";
        position: absolute;
        left: 0;
        top: -25px;
    }
    #toggle span:after{
        top: 25px;
    }
    #toggle span {
        position: relative;
        display: block;
    }

    #toggle span,
    #toggle span:after,
    #toggle span:before {
        width: 100%;
        height: 10px;
        background-color: #888;
        transition: all 0.3s;
        backface-visibility: hidden;
        border-radius: 2px;
    }

    #toggle.on span {
        background-color: transparent;
    }
    #toggle.on span:before {
        transform: rotate(45deg) translate(16px, 16px);
    }
    #toggle.on span:after {
        transform: rotate(-45deg) translate(20px, -20px);
    }
    #toggle.on + #menu {
        display: flex;
        align-self: flex-end;
        margin: 0;
        opacity: 1;
        visibility: visible;
    }

    #menu {
        display: none;
        align-self: flex-end;
        color: #999;
        padding: 10px;
        font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
        text-align: center;
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 8px rgba(0,0,0,0.05);
        opacity: 0;
        visibility: hidden;
        transition: opacity .4s;
    }
    #menu > ul, li, li a {
        list-style: none;
        display: block;
        margin: 0;
        padding: 0;
    }
    #menu li a {
        padding: 5px;
        color: #888;
        text-decoration: none;
        transition: all .2s;
    }
    #menu li a:hover,
    #menu li a:focus {
        background: #1ABC9C;
        color: #fff;
    }
    .Project .box {
        flex-direction: column;
    }
    .Project .image {
        height: 50vmin;
        width: 100%;
    }
    .Project .content {
        width: 100%;
    }
    .Project .content h1 {
        margin-top: 5vh;
        font-size: 4em;
    }
    .Project .content h3,
    .Project .content h4,
    .Project .content a {
        font-size: 2em;
    }
}

@keyframes blink {
    0%, 100% {
        border-color: transparent;
    }
    50% {
        border-color: #fff;
    }
}

@keyframes fadeout {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.8;
    }
}